In [2]:
cd gbid/

/Users/gemunu/kaggle/gbid

In [3]:
ls

cliente_tabla.csv*         sample_submission.csv*     town_state.csv
cliente_tabla.csv.zip      sample_submission.csv.zip  town_state.csv.zip
producto_tabla.csv*        test.csv*                  train.csv*
producto_tabla.csv.zip     test.csv.zip               train.csv.zip

In [4]:
import pandas as pd

In [6]:
train=pd.read_csv('train.csv')

In [8]:
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0,3