In [1]:
ls

Untitled.ipynb         sample_submission.csv  train.csv
destinations.csv       test.csv

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
train=pd.read_csv('train.csv',chunksize=100000)

In [5]:
aggs = []
print('-'*38)
for chunk in train:
    agg = chunk.groupby(['srch_destination_id',
                         'hotel_cluster'])['is_booking'].agg(['sum','count'])
    agg.reset_index(inplace=True)
    aggs.append(agg)
    print('.',end='')

--------------------------------------
.........................................................................................................................................................................................................................................................................................................................................................................................

In [6]:
aggs = pd.concat(aggs, axis=0)

In [7]:
CLICK_WEIGHT = 0.05
agg = aggs.groupby(['srch_destination_id','hotel_cluster']).sum().reset_index()
agg['count'] -= agg['sum']
agg = agg.rename(columns={'sum':'bookings','count':'clicks'})
agg['relevance'] = agg['bookings'] + CLICK_WEIGHT * agg['clicks']
agg.head()

   srch_destination_id  hotel_cluster  bookings  clicks  relevance
0                    0              3         0       2       0.10
1                    1             20         4      22       5.10
2                    1             30         2      20       3.00
3                    1             57         0       1       0.05
4                    1             60         0      17       0.85

In [8]:
def most_popular(group, n_max=5):
    relevance = group['relevance'].values
    hotel_cluster = group['hotel_cluster'].values
    most_popular = hotel_cluster[np.argsort(relevance)[::-1]][:n_max]
    return np.array_str(most_popular)[1:-1] # remove square brackets

In [9]:
most_pop = agg.groupby(['srch_destination_id']).apply(most_popular)
most_pop = pd.DataFrame(most_pop).rename(columns={0:'hotel_cluster'})

In [11]:
most_pop

                      hotel_cluster
srch_destination_id
0                                 3
1                       20 30 60 57
2                    20 30 53 46 41
3                             53 60
4                    82 25 32 58 78
5                                89
6                                89
7                          42 94 16
8                    48  7 43 42 32
9                    20 40 75 61 60
10                   50 77 28 16  7
11                   51 42 47 48 91
13                               76
14                   38 20 75 78 61
16                    7 42 43 47 76
17                         58 35 11
18                   63 82 96 60 31
19                   64 38 75 61 81
20                               53
21                   82 46 58 62 67
22                               89
23                   87 90 86 89 44
24                   91 42 32 76  3
25                   48 33 47 39  5
26                   46 30  8 82 53
27                   78 75 81 62 30
28                      99 37 33  2
29                               13
30                   58 89  3 53 90
31                   62 82 25 43 30
...                             ...
65027                91 48 14 40 16
65028                      91 39 14
65031                   48 28 94 91
65032                            57
65034                            67
65035                 8 43 58 22 10
65037                             7
65039                   67 44 53 38
65041                       9 90 59
65042                   44 37 89 93
65043                            90
65047                42 16 32 15 91
65049                            57
65050                            44
65051                      30 58 62
65054                            44
65055                            89
65056                             4
65058                            89
65059                            93
65060                            30
65063                         82 46
65066                            18
65068                      92 63 60
65087                            30
65098                         94 50
65102                         51  7
65103                   42 50 20  7
65104                         37  5
65107                            76

[59455 rows x 1 columns]

In [16]:
test = pd.read_csv('test.csv',
                    dtype={'srch_destination_id':np.int32},
                    usecols=['srch_destination_id'],)

In [17]:
test = test.merge(most_pop, how='left',left_on='srch_destination_id',right_index=True)
test.head(2)

   srch_destination_id   hotel_cluster
0                12243   5 55 37 11 22
1                14474               5

In [18]:
test.hotel_cluster.isnull().sum()

14036

In [19]:

most_pop_all = agg.groupby('hotel_cluster')['relevance'].sum().nlargest(5).index
most_pop_all = np.array_str(most_pop_all)[1:-1]
most_pop_all

'91 48 42 59 28'

In [20]:
test.hotel_cluster.fillna(most_pop_all,inplace=True)

In [21]:
test.hotel_cluster.to_csv('sub.csv',header=True, index_label='id')